<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counterdown</title>
    <script src="javascripts/countdown/index.js"></script>

    <style>
        p {
            text-align: center;
            font-size: 192px;
        }
    </style>
    <script src="modules_js/jquery-3.2.1.min.js"></script>
</head>
<body>

    <p id="countdown"></p>

</body>
</html>